// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  #fairUse {
  padding-top: 50px;
  }
  
  #resButton {
    background-color: rgb(242, 242, 242);
    color: rgb(239, 58, 58);
  }
  
  #Hero_5 {
    background-image: url(/img/home_hero5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
  }
  
  #Hero_2 {
    background-image: url(/img/main2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
  }
  
  h1 {
    font-family: "Lobster", cursive;
    
    padding-top: 50px ;
    padding-bottom: 0px;
    padding-left: 10%;
    color: white;
    font-size: 8vw;
  }
  
  h2 {
    font-family: "Lobster", cursive;
    font-size: 5vw;
    padding-top: 0;
    padding-left: 20%;
    color: white;
  }
  
  /*#introText {
    padding-top: 100px;
  }*/
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: auto; }
  
  #carousel {
    width: 100%;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    
  }
  
  footer {
    background-color: rgb(255, 255, 255);
  }
  
  h3, p {
    font-family: "Sofia";
    color: rgb(255, 255, 255);
    
  }
  
  h3 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3vw;
  }
  
  p {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2vw;
  }
  
  #modalBody {
    color: black;
    background-color: rgb(254, 254, 254,);
  }
  
  .card {
    background-color: rgba(214, 19, 52, 0.908);
  }
  
  .card-header {
  color: white;
  font-family: ;
  }
  
  .card-body {
    background-color: rgba(8, 8, 8, 0.593);
    border-left: 0px;
  }
  
  .breadcrumb {
    background-size: 0%;
    background-color: rgba(17, 17, 17, 0.168);
    color: rgb(255, 255, 255)
  }
  
  .breadcrumb a {
    
    color: #757578;
  }
  
  #staff {
    background-image: url(/img/staff.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
  }
  
  #building{
    background-image: url(/img/building.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
  }
  
  .about {
    background-color: rgba(62, 61, 61, 0.278);
  }
  
  #address {
    color: white;
    font-size: 2.5em;
    font-family: Lobster;
  }